Source: makemkv-oss
Section: video
Priority: optional
Maintainer: Michael Mohr <akihana@gmail.com>
Build-Depends: debhelper (>= 9), libc6-dev, autotools-dev, libssl-dev,
 libexpat1-dev, libavcodec-dev, libavutil-dev, pkg-config, zlib1g-dev
Standards-Version: 3.9.8
Homepage: http://www.makemkv.com/
Vcs-Git: https://github.com/Rupan/makemkv-oss.git
Vcs-Browser: https://github.com/Rupan/makemkv-oss

Package: makemkv-oss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6, libgcc1, libstdc++6,
 libavcodec58, libavutil56, libexpat1, libssl1.1, zlib1g
Description: Convert video into free and patents-unencumbered format.
 MakeMKV is a format converter, otherwise called "transcoder". It converts
 the video clips from proprietary (and usually encrypted) disc into a set of
 MKV files, preserving most information but not changing it in any way.
